.container {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px;
	opacity: 0.3;
	z-index: 99999;
	cursor: default;
	user-select: none;

	&:hover {
		opacity: 1;
	}

	.inner {
		background: #fb5b5b;
		border-radius: 5px;
		color: #fff;
		font-size: 12px;
		padding: 2.5px 5px;
	}
}
