@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html,
body {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

h3.uppercase {
	font-weight: 500;
	font-size: 1.33rem;
	text-transform: uppercase;
	margin: 1.5em 0 1em 0;
}

p {
	font-size: 1rem;
}

.small {
	font-size: 0.75rem;
	line-height: 1.1;
}

.bold {
	font-weight: 500;
}

div.double {
	column-count: 2;
}
